<!-- this is students home page -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
</head>
<body>
    <h2 name="uname"><%=uname%></h2>
    this is studnet home page where he cn see his attendance percentage
    <h1>this is ur percentage :</h1>
    <h2 name="percentage"><%=percentage%></h2>
</body>
</html>