<!-- this is teachers class page -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
</head>

<body>
  <h2 name="uname">
    <%=uname%>
  </h2>
  <h4>10-06-2022 <a href="/teacher-form1">ENTER ATTENDANCE</a></h4>
  <h4>11-06-2022 <a href="/teacher-form2">ENTER ATTENDANCE</a></h4>
  <h4>12-06-2022 <a href="/teacher-form3">ENTER ATTENDANCE</a></h4>
  <h4>13-06-2022 <a href="/teacher-form4">ENTER ATTENDANCE</a></h4>
  <h4>14-06-2022 <a href="/teacher-form5">ENTER ATTENDANCE</a></h4>
</body>

</html>