<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <nav class="navbar" style="background-color: #faf1f9">
      <div class="container-fluid">
        <h4 style="font-family: 'Joan', serif">Attendace Management System</h4>
        <a class="btn btn-primary" href="/teacher-home" role="button"
          >back</a
        >
      </div>
    </nav>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">sno</th>
          <th scope="col">DATE</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>date1</td>
          <td>
            <a class="btn btn-primary" href="/teacher-form" role="button"
              >ENTER ATTENDANCE</a
            >
          </td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>date2</td>
          <td>
            <a class="btn btn-primary" href="/teacher-form" role="button"
              >ENTER ATTENDANCE</a
            >
          </td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>date2</td>
          <td>
            <a class="btn btn-primary" href="/teacher-form" role="button"
              >ENTER ATTENDANCE</a
            >
          </td>
        </tr>
        <tr>
          <th scope="row">4</th>
          <td>date2</td>
          <td>
            <a class="btn btn-primary" href="/teacher-form" role="button"
              >ENTER ATTENDANCE</a
            >
          </td>
        </tr>
        <tr>
          <th scope="row">5</th>
          <td>date2</td>
          <td>
            <a class="btn btn-primary" href="/teacher-form" role="button"
              >ENTER ATTENDANCE</a
            >
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
