<!DOCTYPE>
<html lang="en">

<head>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous" />

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
    crossorigin="anonymous"></script>
</head>

<body style="font-family: 'Joan', serif">
  <nav class="navbar" style="background-color: #00468b">
    <div class="container-fluid text-light">
      <h4 style="font-family: 'Joan', serif">Attendance Management System</h4>
      <a class="btn btn-primary bg-warning" href="/teacher-home" role="button">back</a>
    </div>
  </nav>
  <br /><br />
  <table class="table text-center">
    <thead>
      <div class="container-fluid text-center">
        <h3 class="h3">Select a date to Enter Attendance</h3>
      </div>
      <br /><br />
      <tr>
        <th scope="col">S.no</th>
        <th scope="col">Date</th>
        <th>Attendance</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>date1</td>
        <td>
          <a class="btn btn-primary" href="/teacher-form-ece2" role="button">Enter</a>
        </td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>date2</td>
        <td>
          <a class="btn btn-primary" href="/teacher-form-ece2" role="button">Enter</a>
        </td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>date3</td>
        <td>
          <a class="btn btn-primary" href="/teacher-form-ece2" role="button">Enter</a>
        </td>
      </tr>
      <tr>
        <th scope="row">4</th>
        <td>date4</td>
        <td>
          <a class="btn btn-primary" href="/teacher-form-ece2" role="button">Enter</a>
        </td>
      </tr>
      <tr>
        <th scope="row">5</th>
        <td>date5</td>
        <td>
          <a class="btn btn-primary" href="/teacher-form-ece2" role="button">Enter</a>
        </td>
      </tr>
    </tbody>
  </table>
</body>

</html>