<!-- this is taechers home page -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <script>
      function image() {
        location.href="teacher_class.html";
      }
    </script>
    <style>

      .container img {
        width: 25%;
        height: auto;
        border: 10px solid;
      }
        
    </style>
  </head>
  <body>
    <h2 name="uname"><%=uname%></h2>
    <p>WELCOME , TEACHER</p>
    <p>Select Class for Attendance:</p>
    <div class="container" >
      <h3 id="class" name="class">cse1</h3>
    <a href="/teacher-class">click here</a>
    <img src="cse-image.jpg" alt="cseimg" >
    </body>
  </div>
  </body>
</html>
